@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
	font-family: 'Poppins', sans-serif;
}

header {
	background-color: #ffffff !important;
}

iconBurger {
	color: rgb(255, 0, 0) !important;
}

footer.footer {
	padding-top: 5rem;
	padding-bottom: 5rem;
  }